name: publish_binaries

on:
  push:
    branches: 
    - "main"
    - "*"
    tags:
    - 'v[0-9]+.[0-9]+.[0-9]+'
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: stable
    - name: Build
      env:
        # We don't want the binary to dynamically link
        CGO_ENABLED: 0
      run: |
        go build -ldflags="-s -w" -o bookworm-${{ matrix.os }} .
    - name: Upload Binaries
      uses: actions/upload-artifact@v4
      with:
        name: bookworm binary for ${{ matrix.os }}
        path: bookworm-${{ matrix.os }}

  release:
    if: ${{ ! startsWith(github.ref, 'refs/tags/v[0-9]+.[0-9]+.[0-9]+') }}
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Download artifact
      uses: actions/download-artifact@v4
    - run: |
        ls -la
